# Ambiente virtual
venv/

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
.env
*.env

# Logs e temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db